<footer class="bg-dark footer">
            <div class="container">
                <div class="row">

                    <div class="col-md-4 col-sm-12">
                        <h4 class="logo"><i class="fa fa-bitcoin"></i> TRADIFY</h4>
                        <p>Architecto beatae vitae dicta sunt explicabo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel sapien et lacus tempus varius. In finibus lorem vel.</p>

                        <ul class="list-inline social">
                            <li>
                                <a href="javascript:void(0);" class="bg-twitter"><i class="ti-twitter-alt"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="bg-dribbble"><i class="ti-dribbble"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="bg-linkedin"><i class="ti-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="bg-googleplus"><i class="ti-google"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="bg-facebook"><i class="ti-facebook"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6 col-md-offset-2">
                        <h5>Solutions</h5>
                        <ul class="list-unstyled footer-list">
                           <li><a href="#">Fee Info</a></li>
                           <li><a href="#">Start Trading</a></li>
                           <li><a href="#">We are Hiring</a></li>
                           <li><a href="#">Blog Posts</a></li>
                           <li><a href="#">API Docs</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <h5>Useful Links</h5>
                        <ul class="list-unstyled footer-list">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Help &amp; Support</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>

                </div> <!-- end row -->

              
            </div> <!-- end container -->
        </footer>


        <!-- COPYRIGHT -->
        <div class="footer-alt bg-dark">
            <p class="copy-rights">2018 © Tradify. All Rights Reserved</p>
        </div> 