{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <!--SEO Meta Tags-->
        <meta charset="utf-8" />
        <!-- SITE TITLE -->
        <title>Tradify - Responsive Crypto/Stock Trading User Interface</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="Responsive Bootstrap Multi-Purpose Crypto Trading User Interface" name="description" />
        <meta name="keywords" content="crypto, Bootstrap, bitcoins, ethereum, dogecoin, iota, ripple, siacoin, exchange, trading platform, crypto trading">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'app/css/bootstrap.css'%}">

        <!-- Icon CSS -->
        <link href="{% static 'css/themify-icons.css'%}" rel="stylesheet">

        <!-- FontAwesome -->
        <link rel="stylesheet" type="text/css" href="{% static 'notify/toastr.css' %}" media="all">
        <script src="{% static 'notify/jquery-1.9.1.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'notify/toastr.min.js' %}"></script>  
        <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/font-awesome.css'%}">

        <!-- Owl Carousel CSS -->
        <link href="{% static 'css/owl.carousel.css'%}" rel="stylesheet">
        <link href="{% static 'css/owl.theme.default.min.css'%}" rel="stylesheet">

        <!-- Magnific-popup -->
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css'%}">

        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{% static 'app/css/app.css'%}">


        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->
        
    </head>

    <body  data-spy="scroll" data-target="#data-scroll">
        
        <!-- Navbar -->
        <div class="navbar navbar-custom sticky navbar-dark" role="navigation">
            <div class="container">
                <!-- Navbar-header -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <i class="ti-menu"></i>
                    </button>
                    <!-- LOGO -->
                    <a class="navbar-brand logo" href="landing.html">
                        <i class="fa fa-bitcoin"></i> TRADIFY
                    </a>
                </div>
                <!-- end navbar-header -->

                <!-- menu -->
                <div class="navbar-collapse collapse" id="data-scroll">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="landing.html">Home</a>
                        </li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Landing <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-left-0">
                          <li><a href="landing.html">Layout One</a></li>
                          <li><a href="landing-2.html">Layout Two</a></li>
                        </ul>
                      </li>
                        <li>
                            <a href="#About">About</a>
                        </li>

                        <li>
                            <a href="#Currencies">Currencies</a>
                        </li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Markets <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-left-0">
                          <li><a href="index.html">Layout One</a></li>
                          <li><a href="index-2.html">Market Two</a></li>
                          <li><a href="index-3.html">Market Three</a></li>
                          <li><a href="index-4.html">Market Four</a></li>
                          <li><a href="index-5.html">Market Five</a></li>
                          <li><a href="index-6.html">Market Six</a></li>
                        </ul>
                      </li>
                        <li>
                            <a href="#blog">Blog</a>
                        </li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                        <li class="active">
                            <a href="datatable.html">Shortcodes</a>
                        </li>
                    </ul>
                </div>
                <!--/Menu -->
            </div>
            <!-- end container -->
        </div>



        <!-- HOME -->
        <section class="home home-small" id="home">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success'%}
                        <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
                    {% elif message.tags == 'info' %}
                        <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
                    {% elif message.tags == 'warning' %}
                        <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
                    {% elif message.tags == 'error' %}
                        <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="home-wrapper home-intro row vertical-content">

                            <div class="col-md-6 col-sm-8">
                                <div class="tabbable-panel">
                                <div class="tabbable-line">
                                   <div class="tab-content tab-content-BuySell m-t-9">

                                      <div class="tab-pane active" id="tab_default_2">
                                        <div class="panel panel-body">
                                             <form class="intro-form" action="/signup" id="invite" method="POST">
                                                {% csrf_token %}
                                                <h5><i class="fa fa-user"></i> Register<span>Don't have an account? Register to start trading</span></h5>
                                                <input name="fullname" value="{{fullname}}" id="fname" class="fname" placeholder="Full Name" type="text" required="required">
                                                <input type="email" value="{{email}}" placeholder="Email Address" name="email" required="required">
                                                <input type="mobile" value="{{mobile}}" placeholder="Mobile Number" name="mobile" required="required">
                                                <select class="form-control" name="country">
                                                    <option value="">Choose Country</option>
                                                    <option value="NG">Nigeria</option>
                                                    <option value="GH">Ghana</option>
                                                </select><br>
                                                <input type="password" name="password1" placeholder="Password" class="form-control" required="required">
                                                <input type="password" name="password2" placeholder="Repeat Password" class="form-control" required="required">
                                                <button type="submit" class="btn btn-secondary btn-block">Register</button>

                                                <p>By Signing up you agree to our <a href="#">terms of conditions</a></p>
                                            </form>
                                            <span id="result"></span>
                                        </div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- END HOME -->



        <!-- FOOTER -->
        {% include 'home-footer.html' %} 
        <!-- end FOOTER -->


        <!-- js placed at the end of the document so the pages load faster -->
        <script src="{% static 'plugins/jquery/jquery.js'%}"></script>
        <script src="{% static 'plugins/bootstrap/js/bootstrap.js'%}"></script>

        <!-- Sticky Header -->
        <script src="{% static 'js/jquery.sticky.js'%}"></script>

        <!-- Jquery easing -->                                                      
        <script type="text/javascript" src="{% static 'js/jquery.easing.1.4.1.js'%}"></script>

        <!-- Owl Carousel -->                                                      
        <script type="text/javascript" src="{% static 'js/owl.carousel.min.js'%}"></script>


        <!-- Magnific Popup -->
        <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.js'%}"></script>

        <!-- Custom js -->
        <script src="{% static 'app/js/tradify.js'%}"></script>

    </body>
</html>